body {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: $black-text-color;
  background-color: $white-text-color;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
