// Media Queries
@mixin respond-above($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  @media screen and (max-width: $breakpoint - 1) {
    @content;
  }
}

@mixin respond-between($breakpoint-lower, $breakpoint-upper) {
  @media screen and (min-width: $breakpoint-lower) and (max-width: $breakpoint-upper - 1) {
    @content;
  }
}

// Grid with 3 items per line
@mixin grid($item-gap: 20px) {
  display: flex;
  flex-wrap: wrap;
  margin: -$item-gap / 2;
}

@mixin grid-item($item-gap: 20px) {
  flex-basis: calc((100% - #{$item-gap} * 3) / 3);
  margin: $item-gap / 2;
}

// Rule for retina images adaptation
@mixin retina-display($dpr) {
  @media screen and (min-device-pixel-ratio: $dpr),
      screen and (-webkit-min-device-pixel-ratio: $dpr),
      screen and (min-resolution: calc(96dpi * #{$dpr}) ),
      screen and (min-resolution: calc(1dppx * #{$dpr}) ) {
    @content;
  }
}
