// Section Products for "befor"
%befor-mobile {
  content: '';
  display: inline-flex;

  position: absolute;
  top: -23%;
  left: 50%;
  transform: translate(-50%);

  width: 249px;
  height: 252px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

%bgr-image-absolute {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
