// Fonts
$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', sans-serif;

// Text Colors
$main-title-color: #d41443;
$secondary-title-color: #ffa5ba;
$white-text-color: #ffffff;
$gray-text-color: #907e82;
$black-text-color: #000000;

// Backgroung Color
$primary-bg-color: #fff5f6;
$header-main-bg-color: #ffb8ca;
$header-circle-bg-color: #ffa5ba;
$white-bg-color: #ffffff;
$brown-card-bg-color: #f0d1a5;
$green-card-bg-color: #c2e297;
$site-nav-bg-color: #e17992;
$backdrop-color: rgba(0, 0, 0, 0.2);

// Btn Color
$btn-primary-color: #ffffff;
$btn-primary-accent-color: #ecebeb;
$btn-secondary-color: #d41443;
$btn-secondary-accent-color: #c7133e;

// Section - Customer Reviews
$comment-bg-color: #fafafa;
$fill-brackets-color: #e1e1e1;
$fill-pink-point-color: #c7133e;
$fill-home-color: #d31342;
$fill-grey-point-color: #d9d9d9;

// Border
$main-border: 1px solid #e1e1e1;
$site-nav-border: 1px solid #e18298;

// Icon social link Color
$brand-link-color: #fea5bb;
$accent-link-color: #d41443;

// Shadows
$adress-card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$site-nav-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  0px 1px 3px rgba(0, 0, 0, 0.16);
$gallery-shadow: 0px 1px 1px rgba(58, 56, 56, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$modal-elements-shadow: 3px 3px 10px rgba(212, 20, 67, 0.1);

// Gap
$list-gap-tablet: 20px;
$list-gap-desktop: 30px;

// Animations
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$modal-animation: 400ms cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
