// Fonts
$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', sans-serif;

// Text Colors
$main-title-color: #d41443;
$secondary-title-color: #ffa5ba;
$white-text-color: #ffffff;
$gray-text-color: #907e82;
$black-text-color: #000000;

// Backgroung
$bg-header-main: #ffb8ca;
$bg-header-circle: #ffa5ba;
$bg-about_advantages_footer: #fff5f6;
$bg-brown-card: #f0d1a5;
$bg-green-card: #c2e297;
$bg-comment: #fafafa;

// Btn
$bg-btn-primary: #ffffff;
$bg-btn-primary-hover: #ecebeb;
$bg-btn-secondary: #d41443;
$bg-btn-secondary-hover: #c7133e;

// Section - Customer Reviews
$fill-brackets: #e1e1e1;
$fill-pink-point: #c7133e;
$fill-home: #d31342;
$fill-grey-point: #d9d9d9;

// Border
$border: 1px solid #e1e1e1;

// Icon socia link
$bg-socia-link: #fea5bb;
$bg-hover-link: #d41443;

// Shadows
$adress-card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

// Gap
$list-gap-tablet: 20px;
$list-gap-desktop: 30px;
