// Fonts
$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', sans-serif;

// Text Colors
$main-title-color: #d41443;
$secondary-title-color: #ffa5ba;
$white-text-color: #ffffff;
$gray-text-color: #907e82;
$black-text-color: #000000;

// Backgroung Color
$primary-bg-color: #fff5f6;
$header-main-bg-color: #ffb8ca;
$header-circle-bg-color: #ffa5ba;
$white-bg-color: #ffffff;
$brown-card-bg-color: #f0d1a5;
$green-card-bg-color: #c2e297;

// Btn Color
$btn-primary-color: #ffffff;
$btn-primary-accent-color: #ecebeb;
$btn-secondary-color: #d41443;
$btn-secondary-accent-color: #c7133e;

// Section - Customer Reviews
$comment-bg-color: #fafafa;
$fill-brackets-color: #e1e1e1;
$fill-pink-point-color: #c7133e;
$fill-home-color: #d31342;
$fill-grey-point-color: #d9d9d9;

// Border
$main-border: 1px solid #e1e1e1;
$mob-menu-border: 1px solid #e18298;

// Icon social link Color
$brand-link-color: #fea5bb;
$accent-link-color: #d41443;

// Shadows
$adress-card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

// Gap
$list-gap-tablet: 20px;
$list-gap-desktop: 30px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
