<section class="about">
  <div class="container">
    <p class="about__label about__label--padding">tradition and lovesu</p>
    <h2 class="about__title about__title--center">how it’s made?</h2>
    <img
      class="about__pictures about__pictures--padding"
      src="/images/test-cow.png"
      alt="Milk carafe on the background of a cow"
      width="280px"
    />
    <div class="about__box">
      <h3 class="about__box-title">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </h3>
      <p class="about__box-text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
        <span class="about__box-text about__box-text--p"
          >Aliquam erat volutpat. Aenean accumsan.
        </span>
        <img class="about__bg" src="/images/test-gb-milk.png" alt="" width="320px" />
      </p>
      <button type="button">Read more</button>
    </div>
  </div>
</section>
