<section class="section-advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="grid">
      <li class="grid__item">
        <p class="grid__title counter">721</p>
        <p class="grid__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__item">
        <p class="grid__title"><span class="counter">16</span>kg</p>
        <p class="grid__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="grid__item">
        <p class="grid__title counter">84</p>
        <p class="grid__descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
