<section class="section">
  <h2 class="">advantages</h2>
  <ul class="grid">
    <li class="grid__item">
      <span class="section__title">721</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <span class="section__title">16kg</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
      <span class="section__title">84</span>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
