<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>

    <div class="reviews__slider slider">
      <article>
        <img
          class="reviews__photo reviews__photo--margin"
          src="images/reviews/reviews_img1_@1x.jpg"
          alt="Curly girl"
          width="85"
        />
        <div class="reviews__card reviews__card--margin">
          <div class="reviews__gradient">
            <p class="reviews__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <svg class="reviews__items reviews__items--margin" width="32" height="4">
          <use href="./images/icons.svg#mini-circle"></use>
        </svg>
        <h3 class="reviews__caption reviews__caption--margin">Emily, Los Angeles</h3>
      </article>

      <article>
        <img
          class="reviews__photo reviews__photo--margin"
          src="images/reviews/reviews_img2_@1x.jpg"
          alt="Short hair girl "
          width="85"
        />
        <div class="reviews__card reviews__card--margin">
          <div class="reviews__gradient">
            <p class="reviews__comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe optio quo quia numquam
              molestiae sint asperiores, illum quasi eligendi veritatis.
            </p>
          </div>
        </div>
        <svg class="reviews__items reviews__items--margin" width="32" height="4">
          <use href="./images/icons.svg#mini-circle"></use>
        </svg>
        <h3 class="reviews__caption reviews__caption--margin">Scarlett, New York</h3>
      </article>

      <article>
        <img
          class="reviews__photo reviews__photo--margin"
          src="images/reviews/reviews_img3_@1x.jpg"
          alt="Girl in glasses"
          width="85"
        />
        <div class="reviews__card reviews__card--margin">
          <div class="reviews__gradient">
            <p class="reviews__comment">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore voluptatibus
              quas cum minus repudiandae totam, enim ducimus.
            </p>
          </div>
        </div>
        <svg class="reviews__items reviews__items--margin" width="32" height="4">
          <use href="./images/icons.svg#mini-circle"></use>
        </svg>
        <h3 class="reviews__caption reviews__caption--margin">Olivia, Chicago</h3>
      </article>
    </div>
  </div>
</section>
