<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <img
      class="reviews__photo reviews__photo--margin"
      src="images/reviews/reviews_img1_@1x.jpg"
      alt="curly girl"
      width="85px"
    />
    <p class="reviews__comment reviews__comment--margin">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <svg class="reviews__items reviews__items--margin" width="32" height="4">
      <use href="./images/icons.svg#mini-circle"></use>
    </svg>
    <h3 class="reviews__caption reviews__caption--margin">Emily, Los Angeles</h3>

    <ul class="review__menu review__menu--margin">
      <li class="review-menu__items">
        <svg class="btn__icon" width="13" height="13">
          <use href="./images/icons.svg#home"></use>
        </svg>
      </li>
      <li class="review-menu__items">
        <svg class="btn__icon" width="12" height="12">
          <use href="./images/icons.svg#big-circle"></use>
        </svg>
      </li>
      <li class="review-menu__items">
        <svg class="btn__icon" width="12" height="12">
          <use href="./images/icons.svg#big-circle"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
