<section class="gallery">
  <h2 class="visually-hidden">
    Gallery
  </h2>

  <div class="gallery__grid">
    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image1_89.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image2_120.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image3_125.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image4_190.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image5_69.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image6_114.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image7_88.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image8_113.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image9_152.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image10_121.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image11_111.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image12_90.jpg" alt="Ice-cream">
      <img class="gallery__img" src="images/gallery/image13_132.jpg" alt="Ice-cream">
    </div>

    <div class="gallery__item">
      <img class="gallery__img" src="images/gallery/image14_133.jpg" alt="Ice-cream">
    </div>
  </div>
</section>
