<section class="gallery">
  <h2 class="visually-hidden">
    Gallery
  </h2>

  <picture>
    <source srcset="images/gallery/mobile/gallery320@1x.jpg 1x, images/gallery/mobile/gallery320@2x.jpg 2x" media="(max-width: 320px)" type="image/jpeg" />
    <source srcset="images/gallery/tablet/gallery768@1x.jpg 1x, images/gallery/tablet/gallery768@2x.jpg 2x" media="(max-width: 768px)" type="image/jpeg" />
    <source srcset="images/gallery/desktop/gallery1280@1x.jpg 1x, images/gallery/desktop/gallery1280@2x.jpg 2x" media="(min-width: 769px)" type="image/jpeg" />
    <img src="images/gallery/desktop/gallery1280@1x.jpg" alt="Gallery of our products" />
  </picture>
</section>