<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">
      Gallery
    </h2>
  
    <div class="gallery__grid">
      <div class="gallery__item gallery__item--pt4">
        <img class="gallery__img" src="images/gallery/gallery1@2x.jpg" alt="Ice-cream">
      </div>
  
      <div class="gallery__item gallery__item--pt2">
        <img class="gallery__img" src="images/gallery/gallery2@2x.jpg" alt="Ice-cream">
        <img class="gallery__img" src="images/gallery/gallery3@2x.jpg" alt="Ice-cream">
      </div>
  
      <div class="gallery__item">
        <img class="gallery__img gallery__img--2x" src="images/gallery/gallery4@2x.jpg" alt="Ice-cream">
        <img class="gallery__img gallery__img--1x" src="images/gallery/gallery5@2x.jpg" alt="Ice-cream">
      </div>
  
      <div class="gallery__item gallery__item--pt3">
        <img class="gallery__img" src="images/gallery/gallery6@2x.jpg" alt="Ice-cream">
        <img class="gallery__img" src="images/gallery/gallery7@2x.jpg" alt="Ice-cream">
      </div>
  
      <div class="gallery__item gallery__item--pt1">
        <img class="gallery__img" src="images/gallery/gallery8@2x.jpg" alt="Ice-cream">
        <img class="gallery__img" src="images/gallery/gallery9@2x.jpg" alt="Ice-cream">
      </div>
  
      <div class="gallery__item gallery__item--pt5">
        <img class="gallery__img" src="images/gallery/gallery10@2x.jpg" alt="Ice-cream">
      </div>
    </div>
  </div>
</section>
