<section class="hero">
  <div class="container container--hero">
    <div class="hero__wrapper">
      <h1 class="hero__title _anim-items _anim-no-hide">
        ice cream<br /><span class="hero__title--next-row _anim-items _anim-no-hide">made with</span
        ><span class="hero__title--accent _anim-items _anim-no-hide">passion</span>
      </h1>
      <ul class="hero-links _anim-items _anim-no-hide">
        <li class="hero-links__item">
          <a class="btn btn--secondary btn--hero" href="#products">Products</a>
        </li>
        <li class="hero-links__item">
          <a class="btn btn--primary btn--hero" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="extra-info _anim-items _anim-no-hide">
        <p class="extra-info__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="extra-info__link btn-open" href="#">
          <svg class="btn-open__icon">
            <use href="images/icons.svg#link-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="store-list _anim-items _anim-no-hide">
      <li class="store-list__item">
        <div class="store-list__wrapper">
          <p class="store-list__number counter">16</p>
          <p class="store-list__name">cafes</p>
        </div>
      </li>
      <li class="store-list__item">
        <div class="store-list__wrapper">
          <p class="store-list__number counter">23</p>
          <p class="store-list__name">food trucks</p>
        </div>
      </li>
    </ul>
    <div class="hero__image--main _anim-items _anim-no-hide"></div>
    <div class="hero__image--left _anim-items _anim-no-hide"></div>
    <div class="hero__image--right _anim-items _anim-no-hide"></div>
  </div>
</section>
