<section class="hero">
  <div class="container container--hero">
    <div class="hero__wrapper">
      <h1 class="hero__title">ice cream made with passion</h1>
      <ul class="hero-links">
        <li class="hero-links__item">
          <a class="btn btn--secondary btn--hero" href="#">Products</a>
        </li>
        <li class="hero-links__item">
          <a class="btn btn--primary btn--hero" href="#">How it’s made?</a>
        </li>
      </ul>
      <div class="extra-info">
        <p class="extra-info__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="extra-info__link" href="#">round arrow here</a>
      </div>
    </div>
    <ul class="store-list">
      <li class="store-list__item">
        <p class="store-list__number">16</p>
        <p class="store-list__name">cafes</p>
      </li>
      <li class="store-list__item">
        <p class="store-list__number">23</p>
        <p class="store-list__name">food trucks</p>
      </li>
    </ul>
    <div class="hero__image--main"></div>
    <div class="hero__image--left"></div>
    <div class="hero__image--right"></div>
  </div>
</section>
<section class="header">
  <button class="btn btn--primary btn--header">
    Buy now!
    <svg class="btn__icon btn__icon--append" width="5" height="8">
      <use href="images/icons.svg#button-arrow"></use>
    </svg>
  </button>
</section>
<section class="about">
  <button class="btn btn--primary btn--about">
    Read more!
    <svg class="btn__icon btn__icon--append" width="5" height="8">
      <use href="images/icons.svg#button-arrow"></use>
    </svg>
  </button>
</section>
<section class="contacts">
  <button class="btn btn--primary btn--contacts">Lorsssssssem</button>
  <button class="btn btn--secondary btn--contacts">
    Lorem
    <svg class="btn__icon btn__icon--append" width="5" height="8">
      <use href="images/icons.svg#button-arrow"></use>
    </svg>
  </button>
</section>
