<section class="hero">
  <div class="container container--hero">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        ice cream<br />made with<span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero-links">
        <li class="hero-links__item">
          <a class="btn btn--secondary btn--hero" href="#">Products</a>
        </li>
        <li class="hero-links__item">
          <a class="btn btn--primary btn--hero" href="#">How it’s made?</a>
        </li>
      </ul>
      <div class="extra-info">
        <p class="extra-info__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="extra-info__link btn-open" href="#">
          <svg class="btn-open__icon">
            <use href="images/icons.svg#link-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="store-list">
      <li class="store-list__item">
        <div class="store-list__wrapper">
          <p class="store-list__number">16</p>
          <p class="store-list__name">cafes</p>
        </div>
      </li>
      <li class="store-list__item">
        <div class="store-list__wrapper">
          <p class="store-list__number">23</p>
          <p class="store-list__name">food trucks</p>
        </div>
      </li>
    </ul>
    <div class="hero__image--main"></div>
    <div class="hero__image--left"></div>
    <div class="hero__image--right"></div>
  </div>
</section>
