<section class="locations">
    <div class="container">
        <h2>Our Locations</h2>
        <ul>
            <li>
                    <p>Cafe</p>
                    <h3>Chicago</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div>
                    <ul>
                        <li>
                          <a href="tel:+610383766284">+610383766284</a>

                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>

                        </li>
                    </ul>
            </li>
            <li>
                    <p>Foodtruck</p>
                    <h3>Los Angeles</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div>
                    <ul>
                        <li>
                            <a href="tel:+610383766284">+610383766284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    
                        </li>
                    </ul>
                
            </li>
            <li>
                    <p>Cafe</p>
                    <h3>New York</h3>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul>
                        <li>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="tel:+610383766284">+610383766284</a>
                    
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    
                        </li>
                    </ul>
            </li>
        </ul>
            <ul>
                <li>
                    <button>Our Locations</button>
                </li>
                <li>
                    <button>Franchise</button>
                </li>
            </ul>

    </div>

</section>