<div class="backdrop-locations backdrop-locations--is-hidden" data-modal-locations>
  <div class="modal-locations">
    <button class="button-close" data-modal-close-locations>
      <svg width="14" height="14">
        <use href="./images/icons.svg#close-menu"></use>
      </svg>
    </button>
    <form action="" class="modal-locations__container">
      <h2 class="modal-locations__title">become a part of our company</h2>
      <label class="form-field">
        <span class="modal-locations__descr">Name</span>
        <input class="modal-locations__input" type="text" name="username" />
        <svg class="modal-locations__icons" width="18" height="18">
          <use href="./images/icons.svg#icon-person"></use>
        </svg>
      </label>
      <label class="form-field">
        <span class="modal-locations__descr">Phone</span>
        <input class="modal-locations__input" type="tel" name="usertel" />
        <svg class="modal-locations__icons" width="18" height="18">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
      </label>
      <label for="email" class="form-field useremail">
        <span class="modal-locations__descr">E-mail</span>
        <span c>
          <input class="modal-locations__input" type="email" name="useremail" />
          <svg class="modal-locations__icons" width="18" height="18">
            <use href="./images/icons.svg#icon-mail"></use>
          </svg>
        </span>
      </label>
      <label class="form-field feedback">
        <span class="modal-locations__descr">Leave your comments</span>
        <textarea
          name="feedback"
          class="feedback-textarea"
          rows="5"
          placeholder="Your message here.."
        ></textarea>
      </label>
      <label class="checkbox-label">
        <input class="check__inp" type="checkbox" name="consent" value="" />
        <svg class="check__icon check__icon--margin check__icon--loc" width="18" height="18">
          <use href="./images/icons.svg#icon-chk"></use>
        </svg>
        <span class="check__bord check__bord--margin"></span>
        I have read and agree
        <a href="#" class="checkbox-link">Privacy Policy</a>
      </label>
      <button class="btn btn--secondary btn--modal" type="submit">Send</button>
    </form>
  </div>
</div>
