<div class="backdrop-delivery backdrop-delivery--is-hidden" data-modal-delivery>
  <div class="modal-delivery">
    <button class="button-close" type="button" data-modal-close-delivery>
      <svg class="btn-delivery-close__icon" width="14" height="14">
        <use href="images/icons.svg#close-menu"></use>
      </svg>
    </button>

    <h2 class="modal-delivery__title modal-delivery__title--margin">
      <span class="modal-delivery__br">The best</span> ice cream delivery
    </h2>

    <form name="delivery-form" autocomplete="off">
      <ul class="delivery__list">
        <li class="delivery__item delivery__item--margin delivery__item--name">
          <label>
            <span class="delivery__label">Name</span>
            <input class="delivery__inp" type="text" name="name" />
            <svg class="delivery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </label>
        </li>
        <li class="delivery__item delivery__item--margin delivery__item--phone">
          <label>
            <span class="delivery__label">Phone</span>
            <input class="delivery__inp" type="tel" name="phone" />
            <svg class="delivery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </label>
        </li>
        <li class="delivery__item delivery__item--margin">
          <label
            ><span class="delivery__label">Address</span>
            <input class="delivery__inp" type="text" name="address" />
            <svg class="delivery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-home"></use>
            </svg>
          </label>
        </li>
        <li class="delivery__item delivery__item--margin delivery__item--flex-ice">
          <span class="delivery__label">Ice cream flavor</span>
          <div class="__select" data-state="">
            <div class="__select__title" data-default="Option 0">Chocolate-vanilla</div>
            <div class="__select__content">
              <input
                id="singleSelect0"
                class="__select__input"
                type="radio"
                name="singleSelect"
                checked
              />
              <label for="singleSelect0" class="__select__label">Chocolate-vanilla</label>
              <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect1" class="__select__label">Chocolate-vanilla</label>
              <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect2" class="__select__label">Strawberry-kiwi</label>
              <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect3" class="__select__label">Banana-caramel</label>
              <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect4" class="__select__label">Pistachio</label>
              <input id="singleSelect5" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect5" class="__select__label">Brendy-cherry</label>
            </div>
            <svg class="delivery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-ice"></use>
            </svg>
          </div>
        </li>
        <li class="delivery__item delivery__item--margin delivery__item--flex-kg">
          <label
            ><span class="delivery__label">Amount, kg</span>
            <input
              class="delivery__inp delivery__inp--kg"
              type="number"
              name="amount"
              min="0"
              step="0.25"
            />
            <svg class="delivery__icon delivery__icon--kg" width="20" height="20">
              <use href="./images/icons.svg#icon-kg"></use>
            </svg>
          </label>
        </li>
        <li class="delivery__time">
          <p>Choose your delivery timing:</p>
        </li>

        <li class="delivery__item delivery__item--margin delivery__item--flex-two">
          <label class="delivery__time-label">
            <input
              class="delivery__radio delivery__radio--margin"
              type="radio"
              checked
              name="time"
            />
            <svg class="check__icon" width="15" height="15">
              <use href="./images/icons.svg#icon-radio"></use>
            </svg>
            <span class="chk chk--margin"></span>
            <span class="chk__txt">Regular</span><span class="chk__txt space">( 24 hours )</span>
          </label>
        </li>

        <li class="delivery__item delivery__item--margin delivery__item--flex-two">
          <label class="delivery__time-label">
            <input class="delivery__radio delivery__radio--margin" type="radio" name="time" />
            <svg class="check__icon" width="15" height="15">
              <use href="./images/icons.svg#icon-radio"></use>
            </svg>
            <span class="chk chk--margin"></span>
            <span class="chk__txt">Fast</span><span class="chk__txt space">( 4 hours )</span>
          </label>
        </li>

        <li class="delivery__item delivery__item--margin delivery__item--flex-total">
          <label class="delivery__total-label">
            <span class="delivery_total-title delivery_total-title--margin">Total:</span>
            <input class="delivery__inp delivery__inp--unchk" type="text" disabled name="total" />
            <svg class="delivery__icon delivery__icon--total" width="20" height="20">
              <use href="./images/icons.svg#icon-basket"></use>
            </svg>
          </label>
        </li>
        <li class="delivery__item delivery__item--margin">
          <label>
            <span class="delivery__label">Enter your card number</span>
            <input class="delivery__inp" type="text" name="card" />
            <svg class="delivery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-pay"></use>
            </svg>
          </label>
        </li>

        <li>
          <label class="delivery_check delivery_check--margin">
            <input class="check__inp" type="checkbox" name="consent" value="" />
            <svg class="check__icon check__icon--margin" width="18" height="18">
              <use href="./images/icons.svg#icon-chk"></use>
            </svg>
            <span class="check__bord check__bord--margin"></span>
            I want to pay cash when my order arrives
          </label>
        </li>
      </ul>
      <div class="delivery__btn">
        <button class="btn btn--secondary" type="submit">Order</button>
      </div>
    </form>
  </div>
</div>
