<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="btn-close" data-modal-close>
            <svg width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <form action="" class="madal-container">
            <h2 class="modal-title">be part of our company</h2>
            <label class="form-field">
                <span class="modal-desc">name</span>
                <input class="modal-input" type="text" name="username" />
                <svg class="modal-icons" width="18" height="18">
                    <use href="./images/icons.svg#icon-person-black-18dp-1"></use>
                </svg>
            </label>
            <label class="form-field">
                <span class="modal-desc">phone</span>
                <input class="modal-input" type="tel" name="usertel">
                <svg class="modal-icons" width="18" height="18">
                    <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                </svg>
            </label>
            <label for="email" class="form-field useremail">
                <span class="modal-desc">e-mail</span>
                <span c>
                    <input class="modal-input" type="email" name="useremail">
                    <svg class="modal-icons" width="18" height="18">
                        <use href="./images/icons.svg#icon-email-black-18dp-1"></use>
                    </svg>
                </span>

            </label>
            <label class="form-field feedback">
                <span class="modal-desc">comments</span>
                <textarea name="feedback" class="feedback-textarea" rows="5" placeholder="message"></textarea>
            </label>
            <input type="checkbox" name="user-checkbox" class="checkbox visually-hidden" id="checkbox" />
            <label class="checkbox-label" for="checkbox">
                I have read and agree 
                <a href="#" class="checkbox-link">Privacy Policy</a></label>
            <button class="btn btn-footer" type="submit">Send</button>
        </form>
    </div>
</div>