<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__text footer__text--accent">with passion</p>
    </div>

    <!-- social links -->
    <div class="footer__socials">
      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="" target="_blank" rel="nofollow noreferrer">
            <svg width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank" rel="nofollow noreferrer">
            <svg width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank" rel="nofollow noreferrer">
            <svg width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="social__contact" href="tel:+610383766284">
        Feel free to contact <span>+61 (0) 383 766 284</span></a
      >
      <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
