<!-- Header -->
<header class="page-header" id="home">
  <div class="container page-header__container">
    <!-- Company`s Logo -->
    <a class="logo" href="./index.html" lang="en">
      <svg width="50" height="50" aria-label="Logo">
        <use href="images/icons.svg#logo"></use>
      </svg>
      Icecream
    </a>

    <div class="backdrop" data-nav>
      <!-- Site Navigation -->
      <nav class="site-nav" id="nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link site-nav__link--active" href="#home">Home</a>
          </li>

          <li class="site-nav__item">
            <a class="site-nav__link" href="#advantages">About us</a>
          </li>

          <li class="site-nav__item">
            <a class="site-nav__link" href="#about">How it’s made?</a>
          </li>

          <li class="site-nav__item">
            <a class="site-nav__link" href="#products">Our products</a>
          </li>

          <li class="site-nav__item">
            <a class="site-nav__link" href="#locations">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Header Buttons -->
    <div class="page-header__buttons">
      <!-- Site Nav Button -->
      <button
        class="site-nav-btn"
        type="button"
        aria-expanded="false"
        aria-controls="nav"
        data-nav-btn
      >
        <svg width="20" height="16" aria-label="Переключатель меню навигации">
          <use class="site-nav-btn__icon" href="images/icons.svg#mob-menu"></use>
          <use class="site-nav-btn__icon-close" href="images/icons.svg#close-menu"></use>
        </svg>
      </button>

      <!-- Buy now Button -->
      <button class="btn btn--primary page-header__btn" type="button" data-buy-btn>
        Buy now &gt;
      </button>
    </div>
  </div>
</header>
