<footer class="footer">
  <div class="container footer__box">
    <div class="footer__content">
      <p class="footer__text _anim-items _anim-no-hide">homemade ice cream made</p>
      <p class="footer__text footer__text--accent _anim-items _anim-no-hide">with passion</p>
    </div>

    <!-- social links -->
    <div class="footer__socials">
      <ul class="social _anim-items _anim-no-hide">
        <li class="social__item">
          <a
            class="social__link"
            href="https://www.github.com/"
            target="_blank"
            rel="nofollow noreferrer"
          >
            <svg class="social__icon">
              <use href="images/icons.svg#git-hub"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="https://www.telegram.com/"
            target="_blank"
            rel="nofollow noreferrer"
          >
            <svg class="social__icon">
              <use href="images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="nofollow noreferrer"
          >
            <svg class="social__icon">
              <use href="images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__info">
        Feel free to contact
        <a class="footer__contact" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
