<section class="section section--products">
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products">
      <li class="products__item">
        <article class="product product--ice-cream">
          <h3 class="product__title">ice cream</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="btn--open" type="button">
            <svg class="btn--open__icon" width="40" height="40">
              <use href=""></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products__item">
        <article class="product product--ice-coffee">
          <h3 class="product__title">ice coffee</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="btn--open" type="button">
            <svg class="btn--open__icon" width="40" height="40">
              <use href="#"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products__item">
        <article class="product product--milkshakes">
          <h3 class="product__title">milkshakes</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="btn--open" type="button">
            <svg class="btn--open__icon" width="40" height="40">
              <use href="#"></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
