<section class="section section--products" id="products">
  <div class="container container__products">
    <p class="section__label _anim-items _anim-no-hide"><span class="counter">100</span>% natural</p>
    <h2 class="section__title section__title--margin _anim-items _anim-no-hide">products</h2>
    <ul class="products _anim-items _anim-no-hide">
      <li class="products__item">
        <article class="product product--ice-cream">
          <div class="product__content">
            <h3 class="product__title">ice cream</h3>
            <p class="product__text product__text--margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
              <span class="product__addition">. dolore magna aliqua facilisis.</span>
            </p>
            <button
              class="btn-open btn-open--centered"
              type="button"
              aria-expanded="false"
              data-modal-open-ice-cream
            >
              <svg class="btn-open__icon" width="40" height="40">
                <use href="images/icons.svg#link-arrow"></use>
              </svg>
            </button>
            <div
              class="
                product__description product__description--ice-cream product__description--is-hidden
              "
              data-modal-ice-cream
            >
              <button class="product__btn-close" data-modal-close-ice-cream>
                <svg width="20" height="20">
                  <use href="images/icons.svg#close-menu"></use>
                </svg>
              </button>
              <p class="product__text product__text--margin-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere repellat placeat
                corrupti aspernatur commodi voluptate quaerat iure provident. Enim, sint?
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product product--ice-coffee">
          <div class="product__content">
            <h3 class="product__title">ice coffee</h3>
            <p class="product__text product__text--margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et<span class="product__addition"
                >. dolore magna aliqua facilisis.</span
              >
            </p>
            <button
              class="btn-open btn-open--centered"
              type="button"
              aria-expanded="false"
              data-modal-open-ice-coffee
            >
              <svg class="btn-open__icon" width="40" height="40">
                <use href="images/icons.svg#link-arrow"></use>
              </svg>
            </button>
            <div
              class="
                product__description
                product__description--ice-coffee
                product__description--is-hidden
              "
              data-modal-ice-coffee
            >
              <button class="product__btn-close" data-modal-close-ice-coffee>
                <svg width="20" height="20">
                  <use href="images/icons.svg#close-menu"></use>
                </svg>
              </button>
              <p class="product__text product__text--margin-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere repellat placeat
                corrupti aspernatur commodi voluptate quaerat iure provident. Enim, sint?
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product product--milkshakes">
          <div class="product__content">
            <h3 class="product__title">milkshakes</h3>
            <p class="product__text product__text--margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et<span class="product__addition"
                >. dolore magna aliqua facilisis.</span
              >
            </p>
            <button
              class="btn-open btn-open--centered"
              type="button"
              aria-expanded="false"
              data-modal-open-milkshakes
            >
              <svg class="btn-open__icon" width="40" height="40">
                <use href="images/icons.svg#link-arrow"></use>
              </svg>
            </button>
            <div
              class="
                product__description
                product__description--milkshakes
                product__description--is-hidden
              "
              data-modal-milkshakes
            >
              <button class="product__btn-close" data-modal-close-milkshakes>
                <svg width="20" height="20">
                  <use href="images/icons.svg#close-menu"></use>
                </svg>
              </button>
              <p class="product__text product__text--margin-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere repellat placeat
                corrupti aspernatur commodi voluptate quaerat iure provident. Enim, sint?
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
