<section class="section section--products">
    <div class="container">
        <span class="section__label">100% natural</span>
        <h2 class="section__title">products</h2>
        <ul class="products">
            <li class="products__item">
                <article class="assortiment assortiment--ice-cream">
                    <h3 class="assortiment__title">ice cream</h3>
                    <p class="assortiment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button class="btn--open" type="button">
                        <svg class="btn--open__icon" width="40" height="40">
                            <use href="#"></use>
                        </svg></button>
                </article>
            </li>
            <li class="products__item">
                <article class="assortiment assortiment--ice-coffee">
                    <h3 class="assortiment__title">ice coffee</h3>
                    <p class="assortiment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button class="btn--open" type="button">
                        <svg class="btn--open__icon" width="40" height="40">
                            <use href="#"></use>
                        </svg></button>
                </article>
            </li>
            <li class="products__item">
                <article class="assortiment assortiment--milkshakes">
                    <h3 class="assortiment__title">milkshakes</h3>
                    <p class="assortiment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <button class="btn--open" type="button">
                        <svg class="btn--open__icon" width="40" height="40">
                            <use href="#"></use>
                        </svg></button>
                </article>
            </li>
        </ul>
    </div>
</section>