.btn {
  min-width: 63px;
  height: auto;
  min-height: 24px;
  padding: 12px 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 22px;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  cursor: pointer;

  transition: background-color $modal-animation, transform $modal-animation;
}

.btn--primary {
  color: $btn-secondary-color;
  background-color: $btn-primary-color;

  &:hover,
  &:focus {
    background-color: $btn-primary-accent-color;
    transform: scale(1.1);
  }
}

.btn--secondary {
  color: $btn-primary-color;
  background-color: $btn-secondary-color;

  &:hover,
  &:focus {
    background-color: $btn-secondary-accent-color;
    transform: scale(1.1);
  }
}

.btn--hero {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.2;
  padding: 7px 15px;
  border-radius: 20px;

  @include respond-above($desktop) {
    font-size: 14px;
    line-height: 1.31;
    padding: 11px 22px;
  }
}

.btn--about {
  font-size: 14px;
  line-height: 1.29;

  @include respond-above($desktop) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.btn--modal,
.btn--locations {
  @include respond-below($tablet) {
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.btn__icon {
  fill: currentColor;
  width: 10px;
  height: 10px;
}

.btn__icon--append {
  margin-left: 13px;
}

// Arrow buttons
.btn-open {
  display: flex;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: $btn-secondary-color;
  background-color: $btn-primary-color;
  transition: color $animation, background-color $animation, transform $animation;

  &:hover,
  &:focus {
    color: $btn-primary-color;
    background-color: $btn-secondary-color;
    transform: scale(1.15);
  }
}

.btn-open__icon {
  fill: currentColor;
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $btn-primary-color;
  box-shadow: $modal-elements-shadow;
  stroke: $accent-link-color;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $btn-secondary-color;
    stroke: $white-bg-color;
  }
}
