.backdrop-locations {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-color;

  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  transition: visibility $modal-animation, opacity $modal-animation;
  &--is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.modal-locations {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  padding: 36px 14px;

  background-color: $primary-bg-color;
  box-shadow: $modal-elements-shadow;
  border-radius: 24px;
  transform: translate(-50%, 0) scaleX(1);
  transition: transform $modal-animation;

  @include respond-above($tablet) {
    top: 50%;
    max-width: 564px;
    padding: 40px 50px;

    transform: translate(-50%, -50%) scaleX(1);
  }

  @include respond-above($desktop) {
    max-width: 680px;
  }

  .backdrop-locations--is-hidden & {
    transform: translate(-50%, 30%) scaleX(0.3);

    @include respond-above($tablet) {
      transform: translate(-50%, -15%) scaleX(0.4);
    }
  }
}

.modal-locations__title {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: $title-font;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $main-title-color;
  @include respond-between($tablet, $desktop) {
    max-width: 100%;
    font-family: $title-font;
    font-size: 24px;
    line-height: 1.13;
    margin-bottom: 25px;
    color: $main-title-color;
  }
  @include respond-above($desktop) {
    max-width: 560px;
    font-family: $title-font;
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 30px;
    color: $main-title-color;
  }
}

.modal-locations__descr {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: $main-title-color;
}

.form-field {
  position: relative;
}

.form-field input {
  width: 100%;
  height: 40px;
  border: $site-nav-border;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  //margin-bottom: 10px;
  // box-shadow: $input-shadow;
}

.feedback-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: $site-nav-border;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
  // box-shadow: $input-shadow;
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: $main-title-color;
  }
  // &:focus {
  //   // border-color: $btn-cl;
  // }
}

.modal-locations__icons {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 15px;
}

.modal-locations__input {
  display: block;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  border: none;
  border-radius: 4px;
  transition: $animation;
  outline: none;

  // &:focus ~ .modal-locations_icons {
  //   // fill: $btn-cl;
  // }

  // &:focus {
  //   // color: $btn-cl;
  //   // border-color: $btn-cl;
  // }
}
.checkbox-link {
  // color: $btn-cl;
  margin-left: 65px;
  font-weight: 700;
  text-decoration: underline;
  color: $main-title-color;
  @include respond-above($tablet) {
    margin-left: 5px;
  }
}
.checkbox-label {
  position: relative;
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  color: $secondary-title-color;

  @include respond-below($tablet) {
    flex-wrap: wrap;
  }
}
.checkbox {
  display: inline-block;
}
.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: $main-title-color;
  border-radius: 3px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-label::before {
  // background-image: url(./images/icons.svg#cheaked);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $main-title-color;
  border-color: $main-title-color;
}

.btn--modal {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.check__icon--loc {
  left: 25px;
  top: 23px;
}
