.backdrop-delivery {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: $backdrop-color;
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  transition: visibility $modal-animation, opacity $modal-animation;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-delivery {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  max-width: 320px;
  padding: 36px 14px;

  background-color: $primary-bg-color;
  box-shadow: $adress-card-shadow;
  border-radius: 24px;

  transform: translate(-50%, 0) scaleX(1);
  transition: transform $modal-animation;

  @include respond-above($tablet) {
    top: 50%;
    max-width: 644px;
    padding: 40px 90px;

    transform: translate(-50%, -50%) scaleX(1);
  }

  .backdrop-delivery--is-hidden & {
    transform: translate(-50%, 30%) scaleX(0.3);

    @include respond-above($tablet) {
      transform: translate(-50%, -15%) scaleX(0.4);
    }
  }
}

.modal-delivery__title {
  font-family: $title-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-title-color;

  @include respond-above($tablet) {
    font-size: 24px;
    line-height: 1.13;
  }
}

.modal-delivery__title--margin {
  margin-bottom: 16px;
}

.delivery__list {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $main-title-color;

  @include respond-above($tablet) {
    font-size: 16px;
    line-height: 1;
  }
}

.modal-delivery__br {
  display: inline-block;
  width: 100%;

  @include respond-above($tablet) {
    display: inline;
  }
}

.delivery__item {
  position: relative;
  width: 100%;
}

.delivery__item--margin {
  margin-bottom: 20px;
}

.delivery__item--name {
  @include respond-above($tablet) {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
}

.delivery__item--phone {
  @include respond-above($tablet) {
    width: calc(50% - 10px);
  }
}

.delivery__item--flex-ice {
  width: calc(68% - 8px);
  margin-right: 8px;
}

.delivery__item--flex-kg {
  width: 32%;
}

.delivery__label {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 4px;
}

.delivery__inp {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 38px;
  border: none;
  outline: none;
  background-color: $white-bg-color;
  box-shadow: $modal-elements-shadow;
  border-radius: 16px;

  &:hover,
  &:focus {
    border: 1px solid $accent-link-color;
  }
}

.delivery__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.delivery__inp--select {
  display: block;
  padding-top: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('../images/modal/icon-arrowdown.svg');

  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.delivery__time {
  width: 100%;
  padding-left: 12px;
}

.delivery__time-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $secondary-title-color;
}

.delivery__item--flex-two {
  width: 50%;
}

.delivery__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked ~ .chk {
    border: 1px solid $accent-link-color;
  }

  &:checked ~ .check__icon {
    fill: $accent-link-color;
  }
  &:checked ~ .chk__txt {
    color: $main-title-color;
  }
}

.delivery__radio--margin {
  margin-right: 10px;
}

.chk {
  display: block;
  min-width: 20px;
  min-height: 20px;

  background: $white-bg-color;
  box-shadow: $modal-elements-shadow;
  border-radius: 50%;
}

.chk--margin {
  margin-right: 20px;
}

.space {
  margin-left: 50px;

  @include respond-above($tablet) {
    margin-left: 0;
  }
}

.delivery__item--flex-total {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
}

.delivery__inp--unchk {
  width: 120px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.04em;

  color: $black-text-color;

  &:hover,
  &:focus {
    border: none;
  }

  @include respond-above($tablet) {
    width: 165px;
  }
}

.delivery__total-label {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.delivery__icon--total {
  left: 110px;

  @include respond-above($tablet) {
    left: 120px;
  }
}

.delivery_total-title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include respond-above($tablet) {
    font-size: 24px;
    line-height: 1.13;
  }
}

.delivery_total-title--margin {
  margin-right: 16px;

  @include respond-above($tablet) {
    margin-right: 10px;
  }
}

.delivery_check {
  position: relative;
  display: flex;
  align-items: center;
}

.delivery_check--margin {
  margin-bottom: 24px;
}

.check__bord {
  display: block;
  min-width: 20px;
  min-height: 20px;

  background: $white-bg-color;
  box-shadow: $modal-elements-shadow;
  border-radius: 2px;
}

.check__bord--margin {
  margin-right: 20px;
}

.check__inp {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked ~ .check__bord {
    border: 1px solid $accent-link-color;
  }

  &:checked ~ .check__icon {
    fill: $accent-link-color;
  }
}

.check__icon {
  position: absolute;
  top: 3px;
  left: 13px;
  fill: $btn-primary-color;
  cursor: pointer;
}

.check__icon--margin {
  top: 6px;
  left: 0;

  @include respond-above($tablet) {
    top: 1px;
  }
}

.delivery__btn {
  text-align: center;
}

.delivery__icon--kg {
  top: 30px;
  left: 15px;
}

// ------------------------Select------------------------
.__select {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 8px 16px 0;
  background-color: $white-bg-color;
  border-radius: 16px;
  box-shadow: $modal-elements-shadow;

  &[data-state='active'] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 8px 8px 33px;
  color: $black-text-color;
  border-radius: 16px;
  border: solid 1px transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: $accent-link-color;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: $accent-link-color;

    &::before,
    &::after {
      background-color: $accent-link-color;
    }
  }
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: $white-bg-color;
  color: black;
  border: 1px solid $secondary-title-color;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;

  &:checked + label {
    background-color: $accent-link-color;
    color: $white-text-color;
    border-radius: 16px;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  border-bottom: 1px solid $secondary-title-color;
  border-radius: 16px;

  &:hover {
    background-color: $main-title-color !important;
    border-radius: 16px;

    color: $white-text-color;
  }
}
