.backdrop-locations {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: visibility $animation, opacity $animation;
  &--is-hidden {
    overflow-y: scroll;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.modal-locations {
  @include respond-below($tablet) {
    width: 100%;
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;

  background-color: $primary-bg-color;
  box-shadow: 30px 0px 8px rgba(212, 20, 67, 0.1), 30px 0px, 8px rgba(212, 20, 67, 0.1),
    30px 0px 8px rgba(212, 20, 67, 0.1);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: scale $animation, visibility $animation;
  @media screen and(min-width:1200) {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal-locations__btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $btn-secondary-color;
  border: $primary-bg-color;
  border-radius: 50%;
  cursor: pointer;

  &:focus,
  &:hover {
    fill: $header-main-bg-color;
  }
}

.modal-locations__container {
  padding: 40px;
}
.modal-locations__title {
  font-family: $title-font;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $main-title-color;
  margin-bottom: 16px;
  @include respond-between($tablet, $desktop) {
    font-family: $title-font;
    font-size: 24px;
    line-height: 1.13;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    color: $main-title-color;
  }
  @include respond-above($desktop) {
    font-family: $title-font;
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $main-title-color;
  }
}
.modal-locations__descr {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: $main-title-color;
}
.form-field {
  position: relative;
}
.form-field input {
  width: 100%;
  height: 40px;
  border: $site-nav-border;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  //margin-bottom: 10px;
  box-shadow: $input-shadow;
}

.feedback-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: $site-nav-border;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  box-shadow: $input-shadow;
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: $main-title-color;
  }
  &:focus {
    // border-color: $btn-cl;
  }
}

.modal-locations__icons {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 15px;
}

.modal-locations__input {
  display: block;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  //border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: $animation;
  outline: none;

  &:focus ~ .modal-locations_icons {
    // fill: $btn-cl;
  }

  &:focus {
    // color: $btn-cl;
    // border-color: $btn-cl;
  }
}
.checkbox-link {
  // color: $btn-cl;
  margin-right: 0;
}
.checkbox-label {
  display: flex;
  padding-top: 20px;
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: $main-title-color;
}
.checkbox {
  display: inline-block;
}
.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: $main-title-color;
  border-radius: 3px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-label::before {
  // background-image: url(../images/icons.svg#icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $main-title-color;
  border-color: $main-title-color;
}
