.backdrop-readmore {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(190, 105, 165, 0.2);
  overflow-y: scroll;
  opacity: 1;
  transition: visibility $modal-animation, opacity $modal-animation;

  &--is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  &.backdrop-readmore--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.batton-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  @include respond-below($mobile) {
    width: 24px;
    height: 24px;
    top: 6px;
    right: 6px;
  }

  &:focus,
  &:hover {
    fill: $btn-secondary-color;
  }
}

.modal-readmore {
  position: absolute;
  width: 100%;
  max-width: 640px;
  min-height: 742px;

  background: linear-gradient(180deg, #ffffff 0%, #fdced9 100%);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  background-color: $primary-bg-color;
  box-shadow: $adress-card-shadow;
  border-radius: 16px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: scale $animation, visibility $animation;

  @include respond-below($mobile) {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 320px;
    transform: translate(-50%, 0) scaleX(1);
    transition: transform $modal-animation;
  }
}

.modal-section {
  position: relative;
  width: 100%;
  max-width: 540px;
  min-height: 650px;
  left: 50px;
  top: 48px;
  margin-right: 0;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: $adress-card-shadow;
  border-radius: 16px;

  @include respond-below($mobile) {
    position: relative;
    max-width: 280px;
    height: 440px;
    left: 20px;
    top: 36px;
  }
}
.modal-title {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 25px;
  padding-top: 40px;
  padding-left: 49px;
  padding-right: 49px;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-title-color;

  @include respond-below($mobile) {
    font-size: 16px;
    line-height: 1.14;
  }
}
.modal-text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  padding-left: 67px;
  padding-right: 49px;

  color: $black-text-color;

  @include respond-below($mobile) {
    font-size: 12px;
    line-height: 1.4;
  }
}
