input {
  appearance: none;
}
.backdrop-delivery {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: $backdrop-color;
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  transition: visibility $modal-animation, opacity $modal-animation;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-delivery {
  position: absolute;
  left: 50%;
  min-width: 320px;
  padding: 36px 14px;

  background-color: $primary-bg-color;
  box-shadow: $adress-card-shadow;
  border-radius: 24px;

  transform: translate(-50%, 0) scaleX(1);
  transition: transform $modal-animation;

  @include respond-above($tablet) {
    top: 50%;
    min-width: 644px;
    padding: 40px 90px;

    transform: translate(-50%, -50%) scaleX(1);
  }

  @include respond-above($desktop) {
    max-width: 644px;
  }

  .backdrop-delivery--is-hidden & {
    transform: translate(0, 50%) scaleX(0);

    @include respond-above($mobile) {
      transform: translate(-50%, 50%) scaleX(0);
    }

    @include respond-above($desktop) {
      transform: translate(-50%, 0) scaleX(0);
    }
  }
}

.modal-delivery__title {
  font-family: $title-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-title-color;
}

.modal-delivery__title--margin {
  margin-bottom: 16px;
}

.delivery__list {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $main-title-color;
}

.modal-delivery__br {
  display: inline-block;
  width: 100%;

  @include respond-above($tablet) {
    display: inline;
  }
}

.delivery__item {
  position: relative;
  width: 100%;
}

.delivery__item--margin {
  margin-bottom: 20px;
}

.delivery__item--name {
  @include respond-above($tablet) {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
}

.delivery__item--phone {
  @include respond-above($tablet) {
    width: calc(50% - 10px);
  }
}

.delivery__item--flex-ice {
  width: calc(68% - 8px);
  margin-right: 8px;
}

.delivery__item--flex-kg {
  width: 32%;
}

.delivery__label {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 4px;
}

.delivery__inp {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 38px;
  border: none;
  outline: none;
  background-color: $white-bg-color;
  box-shadow: $modal-elements-shadow;
  border-radius: 16px;

  &:hover,
  &:focus {
    border: 1px solid $accent-link-color;
  }
}

.delivery__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.delivery__inp--select {
  color: $accent-link-color;
}

.delivery__inp--kg {
  // color: $accent-link-color;
}

.delivery__time {
  width: 100%;
  padding-left: 12px;
}

.delivery__time-label {
  display: flex;
}

.delivery__item--flex-two {
  width: 50%;
}

.delivery__radio {
  margin-right: 10px;
}

.delivery__item--flex-total {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
}

.delivery__inp--unchk {
  width: 120px;
  &:hover,
  &:focus {
    border: none;
  }

  @include respond-above($tablet) {
    width: 165px;
  }
}

.delivery__total-label {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.delivery__icon--total {
  left: 105px;
}

.delivery_total-title {
  margin-right: 16px;

  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.delivery_check {
  display: inline-flex;
  width: 66%;
  margin-bottom: 24px;

  @include respond-above($tablet) {
    width: 100%;
  }
}

.delivery__btn {
  text-align: center;
}
