.about {
  padding-top: 125px;
  padding-bottom: 39px;

  text-align: center;

  background-color: $primary-bg-color;
}

.about__label {
  margin: 0;

  font-family: $title-font;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $secondary-title-color;

  &--padding {
    margin-bottom: 15px;
  }
}

.about__title {
  max-width: 200px;

  font-family: $title-font;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  &--center {
    margin: 0 auto 26px;
  }
}

.about__pictures {
  display: block;
  width: 100%;

  &--padding {
    margin-bottom: 46px;
  }
}

.about__box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;

  text-align: left;
}

.about__box-title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;

  color: $black-text-color;
}

.about__box-text {
  margin: 0;

  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;

  color: $gray-text-color;

  &--p {
    display: block;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.about__bg {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
