.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 195px;
  padding-bottom: 160px;
  background-color: $header-main-bg-color;
  overflow: hidden;

  @include respond-above($tablet) {
    padding-top: 100px;
    padding-bottom: 34px;
  }

  @include respond-above($desktop) {
    padding-top: 170px;
    padding-bottom: 56px;
  }
}

.hero__wrapper {
  z-index: 3;
  position: relative;
}

// Hero section elements
.hero__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-text-color;
  display: flex;
  flex-direction: column;

  @include respond-above($tablet) {
    font-size: 22px;
    line-height: 1.14;
  }

  @include respond-above($desktop) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.96;
  color: $main-title-color;

  @include respond-above($tablet) {
    font-size: 34px;
    line-height: 0.9;
  }

  @include respond-above($desktop) {
    font-size: 58px;
  }
}
.btn--hero {
  display: flex;
}
.hero-links {
  display: flex;
}

.hero-links__item:not(:last-child) {
  margin-right: 8px;
}
.extra-info {
  display: none;

  @include respond-above($tablet) {
    display: block;
    font-size: 8px;
    line-height: 1.5;
    color: $white-text-color;
  }

  @include respond-above($desktop) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.extra-info__link {
  width: 18px;
  height: 18px;

  @include respond-above($desktop) {
    width: 26px;
    height: 26px;
  }
}

.store-list {
  display: none;

  @include respond-above($tablet) {
    display: block;
  }
}

.store-list__number {
  font-family: $title-font;
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-title-color;
  margin-bottom: 0;

  @include respond-above($desktop) {
    font-size: 46px;
  }
}

.store-list__name {
  font-size: 8px;
  color: $white-text-color;
  margin-bottom: 0;

  @include respond-above($desktop) {
    font-size: 14px;
  }
}

// Images
// .hero__image--main {
//   position: absolute;
//   left: 30%;
//   bottom: 0;
//   width: 171px;
//   height: 410px;
//   // z-index: 3;

//   background-image: url(../images/hero/mobile/hero1_mobile_@1x.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;

//   @include retina-display(2) {
//     background-image: url(../images/hero/mobile/hero1_mobile_@2x.png);
//   }
// }

// .hero__image--main::after {
//   content: '';
//   display: block;
//   position: absolute;
//   left: -50%;
//   top: -10px;
//   width: 346px;
//   height: 346px;
//   z-index: 0;
//   border-radius: 50%;
//   background-color: $header-circle-bg-color;
// }

.hero__image--main {
  position: absolute;
  left: 15%;
  top: 84px;
  display: block;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: $header-circle-bg-color;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    position: absolute;
    background-image: url(../images/hero/mobile/hero1_mobile_@1x.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 410px;
  }
}
