.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: visibility $animation, opacity $animation;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  @media screen and(max-width:767px) {
    width: 100%;
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;

  background-color: $text-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: scale $animation, visibility $animation;
  @media screen and(min-width:1200) {
    min-width: 528px;
    min-height: 581px;
  }
}
.btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:focus,
  &:hover {
    fill: $btn-cl;
  }
}

.madal-container {
  padding: 40px;
}
.modal-title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-cl;
  margin-bottom: 12px;
}
.modal-desc {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $pargf-cl;
}
.form-field {
  position: relative;
}
.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid $border-modal;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.feedback-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid $border-modal;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: $icon-cl;
  }
  &:focus {
    border-color: $btn-cl;
  }
}

.modal-icons {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 15px;
}

.modal-input {
  display: block;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: $animation;
  outline: none;

  &:focus ~ .modal-icons {
    fill: $btn-cl;
  }

  &:focus {
    color: $btn-cl;
    border-color: $btn-cl;
  }
}
.checkbox-link {
  color: $btn-cl;
  margin-right: 0;
}
.checkbox-label {
  display: flex;
  padding-top: 20px;
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: $pargf-cl;
}
.checkbox {
  display: inline-block;
}
.checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid $main-text-cl;
  border-radius: 3px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-label::before {
  background-image: url(../images/cheaked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $btn-cl;
  border-color: $btn-cl;
}
.btn-footer {
  display: block;
  margin: 0 auto;
}
