.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    height: var(--header-height);
  }
}