.section-products {
  background-color: $white-bg-color;
  padding-top: 120px;
  padding-bottom: 100px;

  @include respond-above($tablet) {
    padding-bottom: 110px;
  }
  @include respond-above($desktop) {
    padding-top: 125px;
    padding-bottom: 120px;
  }

  &__label {
    text-align: center;

    font-family: $title-font;
    color: $secondary-title-color;

    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    @include respond-above($tablet) {
      font-size: 26px;
      line-height: 1.15;
    }

    @include respond-above($desktop) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__title {
    text-align: center;
    font-family: $title-font;
    color: $main-title-color;

    margin-bottom: 145px;
    font-size: 34px;
    line-height: 1.15;
    text-transform: uppercase;

    @include respond-above($tablet) {
      margin-bottom: 150px;
      font-size: 48px;
    }

    @include respond-above($desktop) {
      margin-bottom: 260px;

      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
}

.products {
  @include respond-above($tablet) {
    @include grid();
  }

  &__item {
    @include respond-below($tablet) {
      &:not(:last-child) {
        margin-bottom: 130px;
      }
    }
    @include respond-above($tablet) {
      @include grid-item();
    }
  }
}

.product {
  border-radius: 24px;
  padding-top: 160px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  @include respond-above($tablet) {
    padding-top: 150px;
    padding-right: 11px;
    padding-left: 11px;
  }

  @include respond-above($desktop) {
    padding-top: 160px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
  }

  &--ice-cream {
    background-color: $header-main-bg-color;
  }
  &--ice-coffee {
    background-color: $brown-card-bg-color;
  }
  &--milkshakes {
    background-color: $green-card-bg-color;
  }

  &__title {
    text-align: center;
    margin-bottom: 66px;

    font-family: $title-font;
    color: $white-text-color;

    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    @include respond-above($desktop) {
      margin-bottom: 70px;
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: $white-text-color;

    font-weight: 500;
    line-height: 1.5;

    text-align: center;

    @include respond-above($tablet) {
      margin-bottom: 40px;
      line-height: 1.76;
    }

    @include respond-above($desktop) {
      margin-bottom: 60px;
      font-size: 16px;
    }
  }
}

.btn--open {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
